@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'), url('fonts/opensans-light.eot');
    src: url('fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-light.woff') format('woff'),
         url('fonts/opensans-light.ttf') format('truetype'),
         url('fonts/opensans-light.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('fonts/opensans-regular.eot');
    src: url('fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular.woff') format('woff'),
         url('fonts/opensans-regular.ttf') format('truetype'),
         url('fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('fonts/opensans-semibold.eot');
    src: url('fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-semibold.woff') format('woff'),
         url('fonts/opensans-semibold.ttf') format('truetype'),
         url('fonts/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}

/* STRUCTURE */

	/* TYPOGRAPHY */
	body {
		font-family: 'Open Sans';
		font-size: 13px;
		color: #5a5a5a;
		font-weight: 300;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Open Sans';
		font-weight: 400;
	}

	h1, h2, h3 {
		margin-top: 5px;
		margin-bottom: 5px;
		color: #013476;
		font-weight: 600;
	}

	h5 {
		color: #5b5b5b;
		font-weight: 600;
	}

	h1 { font-size: 22px; }
	h2 { font-size: 20px; }
	h3 { font-size: 18px; }
	h4 { font-size: 16px; }
	h5 { font-size: 14px; }

	.header-title>h1 {
		font-size: 17px;
		font-weight: 400;
		color: #FFF;
		text-transform: uppercase;
		padding: 15px 25px;
	}

	strong {
		font-weight: 600;
	}

	label {
		font-size: 13px;
		font-weight: 300;
	}

	label.form {
		font-size: 14px;
		font-weight: 400;
		color: #393939;
	}

	/* TYPOGRAPHY */

body {
	background: #f2f2f2;
	height: 100%;
	overflow-x: hidden;
}

.container {
	max-width: 980px !important;
}

.container.no-side-padding {
	padding-left: 0;
	padding-right: 0;
}

#wrap {
	background-repeat: repeat-y !important;
	margin-left: -15px;
	margin-right: -15px;
}

#header .container {
	width: 100%;
	background: #FFF;
}

#nav {
	position: relative;
	width: 70px;
	height: 100%;
	float: left;

	color: #FFF;
}

#nav ul, nav li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav a {
	height: 80px;
	display: block;
	color: #d7d7d7;
	padding: 15px 5px;
	text-align: center;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.7);
	border-bottom: 1px solid #000;
	font-size: 13px;
	line-height: 13px;
	text-shadow: 0px 1px 1px #000;
}

#nav a > img {
	margin-bottom: 5px;
}

#nav a:hover {
	text-decoration: none;
	color: #d7d7d7;
}

.page {
	display: none;
}

.page:first-child {
	display: block;
}

.page {
	float: left;
	width: 100%;
	max-width: 910px;
}

#filter {
	padding: 10px;
	color: #FFF;
	margin-bottom: 25px;
}

.SINGLE {
	width: 48%;
	float: left;
}

.single-left {
	float: left;
	clear: left;
}

.single-right {
	float: right !important;
	clear: right;
}

.LINE {
	width: 98%;
	clear: both;
	float: left;
}


#footer>.container {
	background: #FFF;
	padding: 20px;
	text-align: center;
}

/* STRUCTURE */


/* FORMS */

	/** BUTTONS **/

	.btn-dimension {
		border-radius: 0;
		color: #FFF;
		background: #A3A1A2;
		margin: 2px;
		text-shadow: 0px 2px 1px #6B6B6B;
	}

	.btn-dimension.btn, .btn-dimension.btn-sm {
		padding: 0 10px;
	}

	.btn-dimension.btn-lg {
		padding: 10px 50px;
		font-size: 12px;
	}

	.btn-dimension:hover, .btn-dimension.active {
		color: #FFF;
		background: #E32934;
	}

	.btn-red {
		border-radius: 0;
		color: #FFF;
		background: #E32934;
		margin: 2px;
		box-shadow: inset 0px -2px 0px 0px rgba(134, 0, 8, 0.75);
		font-size: 12px;
		padding: 6px 27px;
	}

	.btn-red:hover, .btn-red.active {
		color: #E32934;
		background: #f2f2f2;
	}

	.btn-red.btn-sm {
		padding: 0 10px;
	}

	.btn-red.btn-lg {
		padding: 10px 50px;
	}

	.btn-options {
		border-radius: 0 !important;
		background: #0e5188;
		color: #FFF;
		margin: 5px 0;
		border-radius: 0px;
		text-shadow: 0px 2px 1px #003f72;
	}

	.btn-options.btn {
		font-size: 12px;
	}

	.btn-options.active {
		background: #013c6c;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.btn-options:hover {
		background: #013c6c;
		color: #FFF;
	}

	.btn-options.text-left {
		text-align: left !important;
	}

	.btn-options i {
		background: url("../img/pepsi/ico/radio.png");
		width: 12px;
		height: 12px;
		display: block;
		float: right;
		margin-top: 2px;
		margin-left: 5px;
	}

	.btn-options.active i {
		background: url("../img/pepsi/ico/radio-active.png");
	}

	.btn-checkbox {
		background: url("../img/pepsi/background/checkbox.png") no-repeat 0 0;
		height: 16px;
		padding-left: 20px;
		font-size: 12px;
	}

	.btn-checkbox input[type='checkbox'] {
		display: none;
	}

	.btn-checkbox.active {
		background-position: 0 -16px;
	}

	.btn-rounded {
		border: 1px solid #012F68;
		border-radius: 20px;
		box-shadow: inset 0px 1px 0px 0px #6496D5;
		color: #FFF;
		padding: 7px 27px;
		font-size: 13px;
		font-weight: 600;
		
		background: #205d9c;
		background: linear-gradient(to bottom, #1a58a0 0%, #023c8a 100%);
	}

	.btn-rounded:hover, .btn-rounded:focus {
		color: #FFF;
		background: linear-gradient(to bottom, #16467E 0%, #023c8a 100%);
	}

	.btn-lnk {
		color: #6a6a6a;
		background: transparent;
		text-decoration: underline;
	}

	.btn-lnk:hover, .btn-lnk:focus, .btn-lnk:active {
		color: #013c6c;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.btn-collapse {
		margin: 0 auto;
		display: block;
		border-radius: 0;
		margin-top: 10px;
		margin-bottom: -29px;
		height: 20px;
		width: 67px;
	}

	.btn-collapse, .btn-collapse:focus, .btn-collapse:active {
		background: url("../img/pepsi/background/btn-collapse.png");
	}

	.btn-collapse.collapsed, .btn-collapse.collapsed:focus, .btn-collapse.collapsed:hover {
		background: url("../img/pepsi/background/btn-uncollapse.png");
	}

	/** BUTTONS **/

.form-field {
	font-size: 14px;
	padding: 8px 12px;
	background: #f2f2f2;
	color: #a1a1a1;
	border: 1px solid #e7e7e7;
	box-shadow: inset 0px 1px 1px 0px rgba(222, 222, 222, 0.75);
	border-radius: 0;
	height: 45px;
	width: auto;
}

.form-field.min-w-270 {
	min-width: 270px;
}

.form-field.invalid {
	border-color: #e32934;
	background: #ffeced;
}

.form-group .valid {
	border-color: #004883;
	background: #004883;
	cursor: default;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.valid .display {
	color: #FFF;
	font-size: 14px;
	padding: 8px 12px;
	margin-top: 5px;
}

.valid .arrow {
	position: absolute;
    right: 10px;
    top: 10px;
	width: 30px;
	height: 30px;
	background: url('../img/pepsi/ico/close.png') center no-repeat;
	cursor: pointer;
}

.form-range-date input {
	width: 120px !important;
}

.form-range-date .input-wrap {
	position: relative;
	display: inline-block;
}

.form-range-date span.separator {
	padding: 10px;
}

.form-field.btn-file {
	width: 410px;
	position: relative;
	overflow: hidden;
}

.form-field.btn-file>.file {
	padding-top: 4px;
}

.form-field.btn-file>.button {
	cursor: pointer;
	background: #d0d0d0;
	color: #e32934;
	padding: 8px 20px;
	font-size: 12px;
	position: absolute;
	right: 5px;
	top: 5px;
}

/* FORMS */

/* COMPONENTS */

#userbox {
	min-width: 190px;
	max-height: 40px;
	padding: 0 10px;
	border-left: 2px solid #e8e5e5;
	margin: 5px 0;
	cursor: pointer;
}

#userbox .username {
	font-size: 18px;
	color: #6aace3;
	font-weight: 300;
}

#userbox .menu-mask {
	margin-top: -3px;
}

.preview {
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.alert {
	font-size: 13px;
	font-weight: 600;
	text-align: center;
	border-radius: 0;
	border-color: transparent;
	padding-top: 55px;
	box-shadow: 0px 0px 4px 2px rgba(175, 164, 160, 0.47);
}

#messages {
	padding: 0 5px;
}

.page .widget .alert {
	margin: 50px auto;
}

.alert-success {
	background: url("../img/pepsi/ico/success.png") center 10px no-repeat;
	background-color: #d6e9cd;
	color: #0c6e26;
}

.alert-danger {
	background: url("../img/pepsi/ico/error.png") center 10px no-repeat;
	background-color: #ffe0e4;
	color: #e32934;
}

.alert-warning {
	background: url("../img/pepsi/ico/warning.png") center 10px no-repeat;
	background-color: #fffcc6;
	color: #a68605;
}

	/** REGION COMPONENT **/
	.region div.view {
		max-width: 210px;
		margin: 0 auto;
		height: 150px;
	}

	.region div.view > div {
		font-size: 22px;
		margin-top: -80px;
		text-align: center;
	}

	.region div.view > div.no-margin {
		margin: 0 !important;
	}

	.region ul.view {
		padding: 0;
		list-style: none;
		margin: 20px 0;
		height: 130px;
		display: none;
	}

	.region ul.view > li {
		padding: 5px 15px;
		background: #013c6c;
		margin: 10px;
		font-size: 20px;
	}

	.region .btn-options {
		position: relative;
		text-align: left !important;
		width: 130px;
		height: 130px;
		margin-right: 5px;
		overflow: hidden;
		margin-top: 0;
		padding: 0;
		background: url("../img/pepsi/background/regions.jpg");
		
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
		filter: gray;
		-webkit-filter: grayscale(100%); 
		-moz-filter: grayscale(100%);
		-o-filter: grayscale(100%); 
		-ms-filter: grayscale(100%);
	}

	.region .btn-options.active {
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-o-filter: grayscale(0%); 
		-ms-filter: grayscale(0%);
	}

	.region .btn-options div {
		top: 50px;
		position: absolute;
		font-size: 16px;
		width: 130px;
		left: 0;
		text-align: center;
	}

	.region .btn-options i {
		position: absolute;
		right: 5px;
		top: 5px;
	}
	/** REGION COMPONENT **/

	/** DATE COMPONENT **/
	.datepicker {
		margin-top: 10px;
		margin-left: -5px;
	}

	.ui-datepicker-header {
		font-size: 11px;
	}

	.ui-datepicker-calendar {
		background: #FFF;
		min-width: 180px;
		box-shadow: 0px 1px 5px #2e2e2e;
	}

	.ui-datepicker-calendar td {
		border: 1px solid #dde1e4;
		font-size: 9px;
		padding: 5px;
		text-align: center;
		cursor: pointer;
	}

	.ui-datepicker-calendar td:hover {
		background: #e9ebed;
	}

	.ui-datepicker-calendar td.ui-state-disabled {
		background: #EEE;
		cursor: default !important;
	}

	.ui-datepicker-current-day, .ui-datepicker-current-day:hover {
		background: #e32934 !important;
		color: #FFF;
	}

	.ui-datepicker-calendar a {
		color: #4d5155;
		text-decoration: none;
	}

	.ui-datepicker-other-month a {
		color: #cccfd3;
	}

	.ui-datepicker-current-day a {
		color: #FFF;
	}

	.ui-datepicker-prev, .ui-datepicker-next {
		width: 20px;
		height: 20px;
		display: block;
		text-indent: -9999px;
		cursor: pointer;
	}

	.ui-datepicker-prev {
		background: url("../img/pepsi/ico/left-arrow.png") no-repeat center center;
		float: left;
		visibility: visible;
	}

	.ui-datepicker-prev.ui-state-disabled {
		visibility: hidden;
	}

	.ui-datepicker-next {
		background: url("../img/pepsi/ico/right-arrow.png") no-repeat center center;
		float: right;
	}

	.ui-datepicker-title {
		text-align: center;
	}

	/** DATE COMPONENT **/

	/** COMPARE **/

	.compare_dates label {
		background: #074a81;
		font-size: 12px;
		margin: 0 5px;
		padding: 2px 5px;
	}

	/** COMPARE **/

	/** LISTBOX **/
	.listbox {
		list-style: none;
		padding: 0;
	}

	.listbox ul {
		list-style: none;
		padding-left: 12px;
		clear: both;
	}

	.listbox > li {
		clear: both;
	}

	.listbox > li:nth-child(even) {
		background: #f3f3f3;
		margin: 5px 0;
	}

	.listbox strong.title {
		font-size: 12px;
		float: left;
		margin-left: 3px;
	}

	.listbox img {
		border-radius: 5px;
		width: 43px;
		height: 43px;
	}

	.listbox .info li {
		float: left;
		font-size: 11px;
		font-weight: 400;
		margin: 5px 0 0 0;
		padding: 0 10px;
	}

	.listbox .info li:not(:first-child) {
		border-left: 1px solid #bbbbbb;
	}

	.listbox i {
		width: 18px;
		height: 18px;
		display: block;
		float: left;
	}

	.listbox i.FACEBOOK {
		background: url("../img/pepsi/ico/facebook.png") no-repeat center center;
	}

	.listbox i.TWITTER {
		background: url("../img/pepsi/ico/twitter.png") no-repeat center center;
	}

	/** LISTBOX **/

	/** MODAL **/
	.modal .modal-dialog {
	 	width: 855px;
	}

	.modal .modal-header {
		padding: 10px;
		margin: 10px;
		text-transform: uppercase;
		background: #195394;
	}

	.modal .modal-header input[type="text"] {
		font-size: 13px;
		padding: 8px 12px;
		width: 250px;
		background: #0e325a;
		color: #FFF;
		border: 2px solid #1d5999;
		box-shadow: inset 0px 0px 2px 1.5px rgba(0, 0, 0, 0.36);
	}
	 
	.modal .modal-title {
		margin-top: 6px;
	}

	.modal .modal-body {
		padding: 20px 10px;
	}

	.modal .modal-footer {
		padding: 0 20px 20px;
		border: none;
	}

	.modal .close {
		margin-top: -20px;
		margin-right: -10px;

		background: #FFF;

		color: #ee0816;
		font-size: 20px;
		font-weight: 800;

		padding: 5px 10px;
		-moz-border-radius: 50px/50px;
		-webkit-border-radius: 50px 50px;
		border-radius: 50px/50px;

		opacity: 1;
	}
	/** MODAL **/

	/** AUTO COMPLETE **/
	.ui-helper-hidden-accessible {
		display: none;
	}

	.ui-autocomplete {
		list-style: none;
		width: 250px;
		padding: 0;
	}

	.ui-autocomplete li {
		background: #FFF;
		padding: 5px 10px;
		border-bottom: 1px solid #195394;
	}

	.ui-autocomplete li, .ui-autocomplete a {
		color: #195394;
		cursor: pointer;
		font-weight: 600;
	}

	.ui-autocomplete li:hover, .ui-autocomplete li:hover a {
		background: #195394;
		color: #FFF;
		text-decoration: none;
	}

	/** AUTO COMPLETE **/

	/** DETAIL BOX **/
	.detail {
		border: 1px solid #f0f0f0;
		min-height: 250px;
		width: 100%;
		display: block;
		margin: 0 5px;
	}

	.detail small {
		background: #FFF;
		margin-left: 10px;
		margin-top: -8px;
		display: block;
		width: 180px;
	}
	/** DETAIL BOX **/

	/** FUNNEL CHART **/
	div .funnel {
		position: relative;
	 	float: left;
	 	padding: 0 2.5px;
	 	border-left: 1px solid rgb(232, 229, 229);
	 	overflow: hidden;
	}

	div .funnel:first-child {
	  border: none;
	}

	.funnel>.top {
	  width: 1px;
	  height: 1px;
	  border-top: none;
	}

	.funnel.large>.top {
	  border: solid 160px transparent;
	  border-bottom: solid 30px #165191;
	  border-left-width: 0px;
	}

	.funnel.medium>.top {
	  border: solid 160px transparent;
	  border-bottom: solid 20px #165191;
	  border-left-width: 0px;
	}

	.funnel.none>.top {
	  border: solid 160px transparent;
	  border-bottom: solid 0px #165191;
	  border-left-width: 0px;
	}

	.funnel>.content {
	  background: #165191;
	  width: 160px;
	  height: 140px;
	  color: #FFF;
	  margin: 0;
	  font-size: 12px;
	}

	.funnel>.content>.header {
		padding-top: 30px;
		font-weight: 600;
	}

	.funnel>.content>.header, .funnel>.content>.footer {
		padding: 0 10px;
		text-transform: uppercase;
	}

	.funnel>.content>.value {
		font-size: 35px;
		text-align: center;
		font-weight: 600;
	}

	.funnel>.bottom{
	  width: 1px;
	  height: 1px;
	  border-bottom: none;
	}

	.funnel.large>.bottom {
	  border: solid 160px transparent;
	  border-top: solid 30px #165191;
	  border-left-width: 0px;
	}

	.funnel.medium>.bottom {
	  border: solid 160px transparent;
	  border-top: solid 20px #165191;
	  border-left-width: 0px;
	}

	.funnel.none>.bottom {
	  border: solid 160px transparent;
	  border-top: solid 0px #165191;
	  border-left-width: 0px;
	}

	.funnel>.compare {
		position: absolute;
		bottom: 0;
		padding: 0 10px;
	}

	.funnel-title {
		background: #eaeaea;
		padding: 5px;
		text-transform: uppercase;
	}
	/** FUNNEL CHART **/

	/** DATEPICKER BOX **/
	.form-range-date {
		position: relative;
	}

	.form-range-date>.showbox {
		margin-bottom: -10px;
		margin-left: 10px;
		cursor: pointer;
	}

	.form-range-date>.box>.datebox {
		margin: 10px;
	}

	.form-range-date>.box {
		position: absolute;
		top: -20px;
		left: 350px;
		display: block;
		padding: 20px;
		border: 1px solid #e7e7e7;
		color: #FFF;
		min-width: 440px;
		z-index: 999;
	}

	.form-range-date>.box .actions {
		margin-top: 10px;
	}

	.form-range-date>.box:after, .form-range-date>.box::before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.form-range-date>.box:after {
		border-color: rgba(136, 183, 213, 0);
		border-right-color: #0566b5;
		border-width: 13px;
		margin-top: -113px;
	}
	.form-range-date>.box:before {
		border-color: rgba(194, 225, 245, 0);
		border-right-color: #0566b5;
		border-width: 15px;
		margin-top: -115px;
	}

	.ui-datepicker-calendar thead {
		display: none;
	}
	/** DATEPICKER BOX **/

	/** DOWNBOX **/
	.downbox {
		position: relative;
		display: inline-block;
	}

	.downbox>.btn {
		padding-right: 50px;
	}

	.downbox>.btn>.display {
		margin-top: 5px;
		display: inline-block;
		float: left;
	}

	.downbox>.btn>.arrow {
		position: absolute;
	    right: 10px;
	    top: 10px;
		background: url('../img/pepsi/ico/arrow-down.png') 12px center no-repeat;
		width: 30px;
		height: 30px;
		border-left: 1px solid #cccccc;
	}

	.downbox>.btn>.arrow.active {
		background-image: url('../img/pepsi/ico/arrow-up.png');
	}

	.downbox>.box {
		position: absolute;
		background: #FFF;
		top: 100%;
		z-index: 1000;
		width: 100%;
		border: 1px solid #e7e7e7;
		padding: 10px;
		min-width: 100px;
		box-shadow: 0px 1px 6px rgba(175, 164, 160, 0.6);
		display: none;
	}

	.search {
		background-image: url("../img/pepsi/ico/search.png");
		background-repeat: no-repeat;
		background-position: 95% center;
		width: 100%;
	}

	.downbox>.box>.header {
		margin-bottom: 10px;
	}

	.downbox>.box>.body {
		max-height: 140px;
		overflow: auto;
	}

	.downbox>.box>.body label {
		font-size: 14px;
		font-weight: 600;
		cursor: pointer;
		display: block;
		padding: 5px;
		margin: 0;
	} 

	.downbox>.box>.body label:hover, .downbox>.box>.body label.active {
		background: #f2f2f2;
	} 

	.downbox>.box>.body label>input[type='radio'] {
		display: none;
	} 

	.downbox>.box>.footer {
		border-top: 1px solid #e0e0e0;
		padding-top: 20px;
		margin-top: 15px;
	}
	/** DOWNBOX **/

	/** FILTER CAMPAIGN**/
	.filter_campaign {
		display: block;
		background: #e0e0e0;
		box-shadow: inset 1px 2px 3px #afa4a0;
		margin: 10px 1px;
		width: 100%;
		padding-top: 4px;
		padding-bottom: 0;
	}

	.filter_campaign .type, .filter_campaign .campaign_container {
		padding-left: 5px;
		padding-right: 5px;
	}

	.filter_campaign .type div>div{
		padding-left: 5px;
		padding-right: 0;
	}

	.filter_campaign .type div>div.col-md-2{
		padding-top: 10px;
	}

	.filter_campaign .campaign_container {
		padding-left: 0;
	}

	.filter_campaign label.btn-options {
		margin: 2.5px 2px;
		background: #cccccc;
		color: #666666;
		text-shadow: none;
		padding: 5px 10px;
	}

	.filter_campaign label.btn-options>i {
		margin-left: 4px;
	}
	/** FILTER CAMPAIGN**/

.widget {
	background: #FFF;
	margin: 10px 7px 10px 10px;
	padding: 10px 15px;
	box-shadow: 0px 0px 5px #afa4a0;
	display: none;
}

.widget.noborder.LINE {
	box-shadow: none;
	margin: 5px 0px;
	width: 100%;
}

.legend {
	font-size: 11px;
	font-weight: 400;
	color: #373737;
	padding: 5px 0px;
}

.legend.bg-gray {
	display: block;
	background: #f7f7f7;
	box-shadow: inset 0px 2px 3px rgba(208, 208, 208, 0.32);
	margin: 10px 1px;
	width: 100%;
}

.legend .line {
	margin: 10px;
}

.legend i.point {
	width: 10px;
	height: 10px;
	display: inline-block;
	background: #FFF;
	border-radius: 10px;
	border: 2px solid #82ca9c;
}

.legend i.circle {
	width: 10px;
	height: 10px;
	display: inline-block;
	background: #FFF;
	border-radius: 10px;
}

.legend ul.list-inline {
	margin: 5px;
}

.filter-separator {
	width: 270px;
	border-right: 1px solid #e3e3e3;
}

.filter-separator .form-field {
	min-width: 240px;
}

.table td {
	border: 1px solid #ccc;
	font-size: 12px; 
}

.table thead th {
	background: #004883;
	color:#FFF;
	box-shadow: 2px 0px 0px -1px #2f75b2;
	border-right: 1px solid #03397a;
	padding: 15px 10px !important;
	font-size: 14px;
	font-weight: 400;
}

.pagination-container {
	background-color:#F2F2F2;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
}

.pagination-separator {
	color:#CCC;
}

.pagination-nav {
	color:#E32934;
	font-weight: bold;
}

.pagination {
	margin: 0;
	font-size: 11px;
	font-weight: 400;
}

.pagination ul {
	padding:0px;
	margin:0px;
	list-style:none;
}

.pagination ul li { 
	padding: 2px 4px;
	display: inline; 
}

.pagination ul li a {
	display: inline-block;
	text-decoration: none;
	color: #5a5a5a;
	cursor: pointer;
}

.pagination ul li a:hover {
	color:#E32934;
	font-weight: bold;
}

/* COMPONENTS */


/* COLOR'S, BACKGROUND'S AND STYLES'S CLASSES */

.bg-bluegradient {
	background: #205d9c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#205d9c), color-stop(10%,#205d9c), color-stop(100%,#003174)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #205d9c 0%,#205d9c 10%,#003174 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #205d9c 0%,#205d9c 10%,#003174 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #205d9c 0%,#205d9c 10%,#003174 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #205d9c 0%,#205d9c 10%,#003174 100%); /* W3C */
}

.bg-sand-gray {
	background-image: url('../img/pepsi/background/menu2.png') !important;
}

.bo-top-blue {
	box-shadow: 0 -1px 0 #01275a;
    border-top: 1px solid #055193;
    margin-top: 10px;
	padding-top: 10px;
}

.bo-right-blue {
	box-shadow: 2px 0px 0px -1px #2f75b2;
    border-right: 1px solid #03397a;
}

.bo-left-gray {
	box-shadow: inset 2px 0px 0px -1px #e6e6e6;
	border-left: 1px solid #cccccc;
}

.bo-right-left, .gray-border-left {
	border-left: 1px solid #e8e5e5;
}

.text-red {
	color: #e32934;
}

.text-green {
	color: #58ac76;
}

.text-white, .btn.text-white:hover {
	color: #FFF;
}

.thermometer {
	padding-left: 15px;
	background: url('../img/pepsi/ico/thermometer.png') left center no-repeat;
}

.clock {
	padding-left: 15px;
	background: url('../img/pepsi/ico/clock.png') left center no-repeat;
}

.icon-calendar {
	background: url('../img/pepsi/ico/calendar.png') center no-repeat;
	width: 31px;
	height: 33px;
	display: inline-block;
}

.icon-gear {
	background: url('../img/pepsi/ico/gear.png') center no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.caret-red {
	border-top-color: #e32934;
	margin-top: -4px;
}

/* COLOR'S, BACKGROUND'S AND STYLES'S CLASSES */

/* HELPERS */
.pull-center {
	margin-left:auto !important;
	margin-right: auto !important;
	display: block !important; 
}

.text-big {
	font-size: 25px;
	font-weight: 600; 
}

.font-sz-12 {
	font-size: 12px;
}

.pd-top-30 {
	padding-top: 30px;
}

.ajax-load {
	margin: 50px auto;
	display: block;
}

.cursor-pointer {
	cursor: pointer;
}

.no-data {
	text-align: center;
	font-size: 50px;
	font-weight: 400;
	color: #CCCCCC;
}

.show-grid {
	margin-bottom: 15px;
}
/* HELPERS */

.login-modal {
	background:white;
	width: 370px;
	height:260px;
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	padding:15px;
}

.login-modal .form-field{
	width:300px;
}
.login-modal label{
	font-weight: bold;
}

.invalid-access{
	border:3px;
	border-style:solid;
	border-color: rgba(204, 51, 51, 0.5);
	background:white;
	width: 370px;
	height:200px;
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	padding:15px;
  	text-align: center;
}

.access-panel{
	width: 400px;
	padding-top: 5px;	
	position: absolute;
	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
  	padding:15px;

}

.access-panel .modal-content{
	padding: 35px;
	padding-bottom: 40px;
  	z-index: 9;
	
		
}
.background-modal{
	background-color: gray;
	position: absolute;
	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
	width:100%;
	height:100%;
	z-index:8;
	visibility: none;
	box-sizing: border-box;
}

.btnFilter {
	float: right;
	margin-top: -20px;
}



/** BOOTSTRAP FIX **/
.modal-backdrop.fade.in {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
/** BOOTSTRAP FIX **/


